body {
    background-color: rgb(66, 58, 58, 1);
    display: flex;
    justify-content: center;
    align-items:center ;
    min-height: 100vh;
    
    
    
}

.container{
    position:relative;
}

.clock{
    width: 300px;
    height: 300px;
    color: azure;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    background-color: rgba(97, 87, 114, 0.5);
    border:2px solid  rgb(226, 223, 223);
    box-shadow: 0px 0px 30px rgb(30, 10, 75);
    display: flex;
    justify-content: center;
    align-items:center ;

  
}
.clock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    -webkit-transform: rotate(calc(30deg * var(--i)));
    -moz-transform: rotate(calc(30deg * var(--i)));
    -ms-transform: rotate(calc(30deg * var(--i)));
    -o-transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
    display: inline-block;
}

.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    -webkit-transform: rotate(calc(-30deg * var(--i)));
    -moz-transform: rotate(calc(-30deg * var(--i)));
    -ms-transform: rotate(calc(-30deg * var(--i)));
    -o-transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;

}

.clock::before{
    content: '';
    position: absolute;
    width: 10px;
    height:10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgb(5, 5, 5);
   
}

.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end ;
}

.hand i{
    position: absolute;
    width: 4px;
    height: 70px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: var(--clr) ;
}




